{
  "parser": "@babel/eslint-parser",
  "extends": ["standard", "standard-react"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   },
  },

  "rules": {
    "semi": ["error", "never"],

    "no-extra-semi": "error",
    "quotes": [
      "error",
      "single"
    ]

  }
}