@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

@-ms-viewport {
  width: device-width;
}

* {
  font-family: 'Cabin', sans-serif;
}

#map {
  background-color: #2d2d4f;
  width: 100vw;
  height: 100vh;
}


@media (max-width: 1025px) {

}