@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

@-ms-viewport {
  width: device-width;
}

* {
  font-family: 'Cabin', sans-serif;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #2d2d4f;
  width: 100vw;
  height: 100vh;

}


.welcome-logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.welcome-logo img {
  height: 60vmin;
  pointer-events: none;
}

.welcome {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}



.welcome-title {
  display: flex;
  flex-direction: column;
  color: #fad86f;
}

.welcome-title img {
  width: 80vmin;
  pointer-events: none;
  padding: 0;
}
.welcome-title text {
  font-size: calc(6vmin);

}

.welcome-info {
  margin-top: 5%;
  /* width: max-content; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  font-size: calc(3vmin);
}

.welcome-info a:hover{
  color: #9dd9d2;
}

.welcome-column-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  font-weight: 700;
  text-align: right;
}

.welcome-column {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-column a {
  /* text-decoration: none; */
  color: white;
}

.social-icons a{
  padding: 1.7em;
  text-align: right;
  float: right;
}
.social-icons {
  display: flex;
  text-align: right;
  float: right;
}
.social-icons-div {
  margin: 0 auto;
}

@media (max-width: 1025px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
  }
  .welcome-logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .welcome-title {
    align-self: center;
  }
  .welcome-info {
    align-self: center;
    font-size: calc(4vmin)
  }
  .welcome-column-label {
    padding: 5px;
  }
  .welcome-column {
    padding: 5px;
  }
}