@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

@-ms-viewport {
  width: device-width;
}

* {
  font-family: 'Cabin', sans-serif;
  background-color: #210F52;
}

#faq {
  background-color: #210F52;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3%;
}

.questions-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* text-align: left; */
  font-size: 20px;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 40vw;
  flex: 1;
  padding-bottom: 3%;
}
.two {
  /* align-items: flex-end; */
  text-align: left;
}

.question {
  /* align-self: center; */
  /* text-align: left; */
  margin-top: 10px;
  margin-bottom: 10px;
  color: #D86B9C;
}
.title {
  font-size: 1.5em;
}
.answer {
  font-size: 0.8em;
  color: #FFFFFF;
}
.answer a {
  color: #FFCCE9;

}


@media (max-width: 1025px) {
  #faq {
    /* flex-direction: column; */

  }
  .title {
    font-size: 0.7em;
  }
  .answer {
    font-size: 0.4em;
  }
}