@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');


* {
  font-family: 'Cabin', sans-serif;
}
.App {
  text-align: center;
  background-color: #2d2d4f;
  /* height: 100vh; */
  width: 100vw;
}

.App-header {
  height: 8vh;
  background-color: #f4dbd8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-weight: 700;
  color: white;
}
.App-link {
  color: #2d2d4f;
  text-decoration: none;
  margin: 0 20px 0px;
}
.App-link:hover {
  color: #9480e5;
}
.selected {
  color: #9480e5;
  font-weight: 700;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome-logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.welcome-logo img {
  height: 70vmin;
  pointer-events: none;
}
.welcome {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5%;
}
.welcome-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #2d2d4f;
  font-size: calc(6vmin);
}
.welcome-title img {
  padding-left: 40px;
  width: 80vmin;
  pointer-events: none;
}
.welcome-info {
  margin-top: 5%;
  /* width: max-content; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  font-size: calc(3vmin);
}
.welcome-column-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  font-weight: 700;
}
.welcome-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
